/* **************************************************************
*    ACADEMIA TÉCNICA MILITAR BOLIVARIANA                       *
*    DE COMUNICACIONES Y ELÉCTRONICA.                           *
*    PROYECTO DE PROGRAMACIÓN.                                  *
*    ALFÉREZ: D. NAVARRO C.                                     *
*    FECHA: 22/04/2022                                          *
*    DESCRIPCIÓN: ESTILOS EN CASCADA PARA EL INDEX DE LA APP WEB*
*************************************************************** */

/* Paleta de Colores */  
:root {  
    --color-verde: #4B9B31; /* Verde militar */  
    --color-marron: #8B5B29; /* Marrón terroso */  
    --color-gris: #7D7D7D; /* Gris neutro */  
    --color-fondo: #E6E6E6; /* Fondo claro para el contraste */ 
    --color-negro: #000000; /*Negro para contraste*/
}  



body{
    font-family: 'Arial Black', Arial, sans-serif; /* Tipografía robusta */  
    background-image: url('img/fondo_verde_militar_01.jpg');
    background-color: var(--color-fondo);  
    color: var(--color-gris);  
    margin: 0;  
    padding: 0;  
}

/* Estilo de encabezados */  
h1, h2, h3 {  
    color: var(--color-verde);  
    margin: 10px 0;  
}  

button{
    background-color: var(--color-marron);  
    color: white;  
    border: none;  
    border-radius: 8px; /* Esquinas redondeadas */  
    padding: 10px 20px;  
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */  
}

.index-header{
    margin-top: 2em;
    width: 60em;
}

.index-header a{
    color: aliceblue;
    text-decoration: none;
}


h1{ 
        text-shadow:   
            -2px -2px 0 #000,  
            2px -2px 0 #000,  
            -2px  2px 0 #000,  
            2px  2px 0 #000;  
}

.index-header a:visited{
    color: white;
}

.index-main{
    padding: 1rem;
    margin-top: 6em;
}

.index-main form {  
    padding: 2em;  
    background: rgba(228, 232, 238, 0.5); /* Cambiado a rgba para incluir transparencia */  
    width: 40em;
    border-radius: 5px; 
}

.index-main label{
    color:#8B5B29
}

.index-footer{
    margin-top: 7%;
    background-color: var(--color-marron);
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.index-footer div{
    color: var(--color-negro);
}

.index-footer p{
    text-align: justify;
    text-justify:inter-word;
}

.index-footer a{
    margin-top: 1em;
}