/* **************************************************************
*    ACADEMIA TÉCNICA MILITAR BOLIVARIANA                       *
*    DE COMUNICACIONES Y ELÉCTRONICA.                           *
*    PROYECTO DE PROGRAMACIÓN.                                  *
*    ALFÉREZ: D. NAVARRO C.                                     *
*    FECHA: 22/04/2022                                          *
*    DESCRIPCIÓN: ESTILOS EN CASCADA PARA EL MENÚ DELA APP WEB  *
*************************************************************** */

/*ESTILOS PARA EL CONTENEDOR:*/
    .pie-map{
        padding: 1rem;
        height: 9em;
        margin-top: 0px;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


/*ESTILOS PARA EL MENÚ DE OPCIONES:*/
    .cont-elemnt-footer{

        padding: 1rem;
        width: 50%;

        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        margin-top:0px;
    }




    /*ESTILOS PARA BOTONES*/
    .fcc-btn {
        background-color: #199319;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 2px rgb(0,0,0);
        margin: 5px;

      }
      
      .fcc-btn:hover {
        background-color: #223094;
      }
      
      .fcc-btn:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 4px #5a01a7;
        transition: 0.7s;
      }
      
      .fcc-btn:active {
        background-color: #1a1d23;
        box-shadow: 0 0 0 4px #5a01a7;
        transform: translateY(2px);
      }