:root {  
    --color-verde: #4B9B31; /* Verde militar */  
    --color-marron: #8B5B29; /* Marrón terroso */  
    --color-gris: #7D7D7D; /* Gris neutro */  
    --color-fondo: #E6E6E6; /* Fondo claro para el contraste */ 
    --color-negro: #000000; /*Negro para contraste*/
    --imagen-fondo: url('img/fondo_verde_militar_01.jpg');
}  


/* Estilos generales con tema militar */
body {
    background-image: var(--imagen-fondo);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #eee; /* Gris claro para el texto */
    font-family: 'Courier New', monospace;
}

img{
    background-image: url('img/silueta_foto_carnet.jpg');
}


#sidebar {
    background-color: var(--color-marron); /* Gris más oscuro para el sidebar */
}

#sidebar a{
    color: #eee; /* Gris claro para los links del sidebar */
}

/* Estilos para el mapa */
#map {
    height: 400px;
    width: 100%;
}
/* Otros estilos para botones, acordeón, etc. */

.accordion-button{
    background-color: #555 !important;
    color: #eee !important;
}

.accordion-button:not(.collapsed) {
    background-color: #666 !important;
    color: #eee !important;
}